body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
header {
    justify-content: center;
    flex-shrink: 0;
    background-color: #E7E9FC;
    }
.navigate {
    color: #2E2F42;
   
}
.web {
    color: #4D5AE5; 
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.studio {
    color: #2E2F42;
}
.nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.menunav .nav:hover, .menunav .nav:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}
.mailto {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}
.menuaddres .mailto:hover, .menuaddres .mailto:focus {
    color: #404bbf;
}
.menuaddres .tel:hover,
.menuaddres .tel:focus {
    color: #404bbf;
}
.menuaddres {
    color: #434455;
}
h1 {
    color: var (#FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.button-order {
    background: var(#4D5AE5);
}
.h3strategy {
    color: var(#2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.p-strategy {
    color: var(#434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.h2our-team {
    color: var(#2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.h3our-team {
    color: var(#2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.p-our-team {
    color: var(#434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio {
    color: var(#2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.h3portfolio {
    color: var(#2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.p-portfolio {
    color: var(#434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.p-footer {
    color: var(#F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}